farmtell.json
[{"id":"2885cafc6f679f16","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"2885cafc6f679f16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":380,"wires":[]},{"id":"1b7dac894ca48f36","type":"ui_form","z":"2885cafc6f679f16","name":"","label":"","group":"b7d72d1eeac75758","order":0,"width":0,"height":0,"options":[{"label":"Nitrogen Percent","value":"Nitrogen Percent","type":"number","required":true,"rows":null},{"label":"Phosphorous Percent","value":"Phosphorous Percent","type":"number","required":true,"rows":null},{"label":"Pottasium Percent","value":"Pottasium Percent","type":"number","required":true,"rows":null},{"label":"Temperature","value":"Temperature","type":"number","required":true,"rows":null},{"label":"Humidity","value":"Humidity","type":"number","required":true,"rows":null},{"label":"Rainfall","value":"Rainfall","type":"number","required":true,"rows":null},{"label":"Ph","value":"Ph","type":"number","required":true,"rows":null}],"formValue":{"Nitrogen Percent":"","Phosphorous Percent":"","Pottasium Percent":"","Temperature":"","Humidity":"","Rainfall":"","Ph":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":189.00000476837158,"y":371.00000190734863,"wires":[["f2f2649a.0d0d98","e42705e7c59e5a3b"]],"l":false},{"id":"e42705e7c59e5a3b","type":"function","z":"2885cafc6f679f16","name":"global variable for form node","func":"global.set(\"nitrogen\",msg.payload.nitrogen)\nglobal.set(\"phosphorous\",msg.payload.phosphorous)\nglobal.set(\"pottasium\",msg.payload.pottasium)\nglobal.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"ph\",msg.payload.ph)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"rainfall\",msg.payload.rainfall)\nvar apikey = \"iN-ydipKWzsO4FIaiq6S_9jWrprhRtQvzq7cLwJaBy6K\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":317.00000381469727,"y":318.00000286102295,"wires":[["f55dcec3623535ed"]],"l":false},{"id":"f55dcec3623535ed","type":"http request","z":"2885cafc6f679f16","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":420.0000057220459,"y":318.00000381469727,"wires":[["c6c56c490888e489","0bfb5be2fb0082f8"]],"l":false},{"id":"c6c56c490888e489","type":"debug","z":"2885cafc6f679f16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":596,"y":327,"wires":[],"l":false},{"id":"0bfb5be2fb0082f8","type":"function","z":"2885cafc6f679f16","name":"Pre prediction","func":"var nitrogen = global.get(\"nitrogen\") \nvar phosphorous = global.get(\"phosphorous\") \nvar pottasium = global.get(\"pottasium\") \nvar temperature = global.get(\"temperature\") \nvar ph = global.get(\"ph\") \nvar humidity = global.get(\"humidity\") \nvar rainfall = global.get(\"rainfall\") \nvar token = msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"field\": [[\"nitrogen\",\"phosphorous\",\"pottasium\",\"temperature\",\"ph\",\"humidity\",\"rainfall\"]],\"values\":[[nitrogen,phosphorous,pottasium,temperature,ph,humidity,rainfall]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":561.0000095367432,"y":404.00000762939453,"wires":[["c800a4a107438516"]],"l":false},{"id":"c800a4a107438516","type":"http request","z":"2885cafc6f679f16","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/ea399b69-ec5f-483e-8a1e-daba723d5654/predictions?version=2021-08-30","tls":"","persist":false,"proxy":"","authType":"","x":642,"y":414,"wires":[["bcb6a116a4935e44","bdf2b15fb47c0455"]],"l":false},{"id":"bcb6a116a4935e44","type":"debug","z":"2885cafc6f679f16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":712,"y":404,"wires":[],"l":false},{"id":"bdf2b15fb47c0455","type":"function","z":"2885cafc6f679f16","name":"Pre","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":729.0000095367432,"y":466.0000057220459,"wires":[["59b7fba6cb451b36","4375ea453dd52fbd"]],"l":false},{"id":"59b7fba6cb451b36","type":"debug","z":"2885cafc6f679f16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":795.6000366210938,"y":434,"wires":[],"l":false},{"id":"4375ea453dd52fbd","type":"ui_text","z":"2885cafc6f679f16","group":"b7d72d1eeac75758","order":1,"width":0,"height":0,"name":"","label":"You should grow","format":"{{msg.payload}}","layout":"row-spread","x":812,"y":495,"wires":[],"l":false},{"id":"cd739ecc227f5e53","type":"ibmiot in","z":"2885cafc6f679f16","authentication":"apiKey","apiKey":"14a91f51712a7e16","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"cropit101gituserrer3283","applicationId":"","deviceType":"Iotweather","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":183,"y":540.8000030517578,"wires":[["a400b14221a06bab","6560f3e2fbeec88a","cbb631fd1ff94a5f","8c8f7c82c21543b9"]],"l":false},{"id":"a400b14221a06bab","type":"debug","z":"2885cafc6f679f16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":283.600004196167,"y":660.7999963760376,"wires":[],"l":false},{"id":"6560f3e2fbeec88a","type":"function","z":"2885cafc6f679f16","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":455,"y":535.8000030517578,"wires":[["97b0daa2899521b9","d7c92c5a83a254e0"]],"l":false},{"id":"97b0daa2899521b9","type":"debug","z":"2885cafc6f679f16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":576.0000076293945,"y":514.7999830245972,"wires":[],"l":false},{"id":"8c8f7c82c21543b9","type":"function","z":"2885cafc6f679f16","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":455.0000057220459,"y":583.7999954223633,"wires":[["97b0daa2899521b9","cd898f54325ddf8d"]],"l":false},{"id":"cbb631fd1ff94a5f","type":"function","z":"2885cafc6f679f16","name":"Object temperature","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":451.0000066757202,"y":480.7999954223633,"wires":[["97b0daa2899521b9","7f57e9ea5ed7380c"]],"l":false},{"id":"cd898f54325ddf8d","type":"ui_gauge","z":"2885cafc6f679f16","name":"","group":"d2547fa6821ac0bb","order":2,"width":0,"height":0,"gtype":"gage","title":"Object Tempearature","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660.0000095367432,"y":586.6000332832336,"wires":[],"l":false},{"id":"d7c92c5a83a254e0","type":"ui_chart","z":"2885cafc6f679f16","name":"","group":"d2547fa6821ac0bb","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":666.0000095367432,"y":540.6000318527222,"wires":[[]],"l":false},{"id":"7f57e9ea5ed7380c","type":"ui_text","z":"2885cafc6f679f16","group":"d2547fa6821ac0bb","order":0,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":654.0000095367432,"y":486.60006189346313,"wires":[],"l":false},{"id":"b7d72d1eeac75758","type":"ui_group","name":"Crop Recommender","tab":"2aa09267f039fca2","order":1,"disp":true,"width":"6","collapse":false},{"id":"14a91f51712a7e16","type":"ibmiot","name":"Key2","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d2547fa6821ac0bb","type":"ui_group","name":"Farm Analyser","tab":"2aa09267f039fca2","order":2,"disp":true,"width":"6","collapse":false},{"id":"2aa09267f039fca2","type":"ui_tab","name":"Farmtell","icon":"dashboard","order":1,"disabled":false,"hidden":false}]